.eins{
	
}
.zwei{
	display:none;
}
.drei{
	display:none;
}
.vier{
	display:none;
}
.fuenf{
	display:none;
}
.sechs{
	display:none;
}
.cube{
	margin:auto;
}
.arrows{	
	display:inline;
}
.middleArrow{
	margin:auto;
	margin-left:5px;
}